:root {
    --blue: #79aff1;
    --black: #1b1c1f;
    --babyblue: #fafaff;
    --coolblue: #4378e2;}
  
  * {margin: 0;
    padding: 0;
    box-sizing: border-box;}
  
  body {font-family: 'Open sans';
    background-color: var(--babyblue);
    color: var(--black);
    display: flex;
    flex-direction: column;
    min-height: 2200px;}
  
  h1 {font-family: 'Open Sans';
    color: var(--babyblue);}
  
  h2 {font-family: 'Open Sans';
    color: var(--black);}
  
  h3 {font-family: 'Open Sans';
    color: var(--black);}
  
  p {font-family: 'Poppins', serif;
    color: var(--black);
    margin: 0rem;}
  
  
  /*BIODATA*/
  .biodata {display: grid;
    grid-template-columns: max-content auto;
    gap: 8px 16px;}
  
  .biodata dt {font-weight: bold; color:var(--black); font-size: 15px;}
  
  .biodata dd {margin-left: 0; color:var(--black); font-size: 15px;}
  
  /* Navbar */
  .navbar {display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--babyblue);
    border-bottom: 1px solid var(--black);
    position: fixed;
    box-shadow: 0px 7px 20px #1d2128;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;}
  
  .navbar .navbar-logo {font-size: 2rem;
    font-family: 'Montserrat';
    font-weight: 800;
    color: var(--coolblue);
    text-decoration: none;}
  
  .navbar .navbar-links a {
    color: var(--coolblue);
    font-size: 1.3rem;
    margin: 0 1rem;
    position: relative;
    text-decoration: none;}
  
  .navbar .navbar-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--coolblue);
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -2px;
    left: 0;}
  
  .navbar .navbar-links a:hover::after {
    width: 100%;}
  
  .navbar .navbar-extra a {
    color: var(--coolblue);
    margin: 0 0.5rem;
    text-decoration: none;}
  
  .navbar .navbar-extra a:hover {color: var(--coolblue);}
  
  @media (max-width: 768px) {
    .navbar .navbar-links {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      width: 200px;
      background-color: var(--bg);
      box-shadow: 0px 7px 20px #1c1e23;
      z-index: 1;}
  
    .navbar .navbar-links.active {
      display: block;}
  
    .navbar #menu {
      display: block;}}
  /*NAVBAR END*/
  
  /*Header START*/
  .header {
    position: relative;
    padding-top: 180px;
    padding-bottom: 150px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden; /* Tambahkan overflow hidden untuk mencegah konten yang meluap */}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover; /* Agar video menutupi seluruh container */
    z-index: -2;}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 255, 0.147); 
    z-index: -1;}

.header-head, .header-extra {
    text-align: center;
    color: var(--babyblue);
    position: relative;
    p {font: 'open sans'; color: var(--babyblue);
      text-shadow: 2px 2px 4px #13151da3}}

.header-head {font-size: 40px;
  text-shadow: 2px 2px 4px #13151da3}
.header-extra {font-size: 35px;}
/*Header END*/

/*Content*/
.container {
  max-width: 1300px; /* Adjust the maximum width*/
  margin: 0 auto; /* Center align the container */
  padding: 0 50px; /* Add padding to the sides */}

  .container-up {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 20px 20px 30px;
    background-color: var(--babyblue);
    border-bottom: 1px solid var(--black);}
  
  .container-logo {
    width: 100px; /* Sesuaikan lebar logo sesuai kebutuhan */
    height: auto; /* Mempertahankan aspek rasio logo */}
  
  .container-text {
    font-family: 'Montserrat';
    color: var(--coolblue);
    font-size: 1.9rem;
    flex: 1;
    text-align: center; /* Menyelaraskan teks di tengah */
    white-space: nowrap;
    margin: 0 40px;}

  .container-margin {
    margin: 70px 0px 20px 0px;
    text-align: left;}

    .container-cta-gap {
      align-items: left;
      display:flex;
      flex-wrap:wrap;
      gap: 1rem;;
    }
    .container-cta {
    align-items: left;
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 4rem;
    font-size: 1.4rem;
    color:var(--black);
    text-align: center;
    background-color: rgb(203, 227, 255);
    text-decoration: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgb(23, 23, 25);}

  .row {
    display: flex;/* Add space between the items */
    padding: 70px 0px 30px;}

  .row a {text-decoration: none;}
  
  .row img {
    border-radius: 15px; /* Membuat sudut gambar tumpul */
    margin-right: 20px;
    align-items: left;
    box-shadow: 1px 1px 3px rgb(23, 23, 25); /* Memberi jarak antara gambar dengan teks */
   }
  
    .row-text {
      font-size: 1.4rem;
      text-align: left;
      margin-left: 10px 10px 50px 20px;
      }

      .row-p {
      margin:0px 50px;
      font-size: 1.2rem;}

      .row .Blogger{
        display:flex;
        flex-wrap:wrap;
        text-align:left;
        text-decoration:none;
        justify-content:center;
        padding: 0px 0px 20px 0px;
        gap: 30px;}

         .row .Blogger-h3 {font-family: 'Open Sans';
          font-size: 1.7rem;
          color: var(--black);
          text-decoration:none;}
      
         .row .Blogger-p {font-family: 'Poppins', serif;
          color: var(--black);
          font-size: 1.2rem;
          margin: 0rem;
          text-decoration:none;}
        
      

      .content {
        padding: 100px 20px;
        text-align: center;
        font-size: 2.8rem;}
    
     .content-guru {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
        gap: 50px; /* jarak antara kalimat */
        font-size: 2.3rem;
        font-family: 'Open Sans';}

    .content-project{
    text-align:center;
    align-items: center;
    padding: 200px 40px 20px 40px;
    font-size: 2.3rem;
    font-family: 'Open Sans';}

    .content-project-p{
    text-align:center;
    align-items: center;
    padding: 10px 0px;
    font-size: 1.4rem;
    font-family: 'Open Sans';
    border-bottom: 1px solid var(--black);
    }
  /*CONTENT END*/
      
  /*FOOTER START*/
  footer{
  background-color: var(--coolblue);
  text-align: center;
  padding:33px 2px 30px 2px;}
  
  footer .socials{
    padding: 1rem 0;}
  
  footer .socials a {
    color: var(--babyblue);
    margin: 1rem;}
  
  footer .links a {
    color: var(--babyblue);
    margin: 0.5rem; 
    text-decoration: none;
    font-size: 1rem;}
  
  /*FOOTER END*/
  
  
  /*Media Queris*/
  
  /*Laptop*/
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
   }
  
  /*Tablet*/
  @media (max-width: 768px) {
    html {font-size: 62.5%;}
    #menu {display: block;}
  }
  
  /*Mobile Phone*/
  @media (max-width: 450px) {
    html {font-size: 55%;}
  }